In [1]:
import pandas as pd
import numpy as np
import zipfile
import gzip
import os
import json
import time
import matplotlib.pyplot as plt
from tqdm import tqdm
import pymysql
from sqlalchemy import create_engine

In [2]:
# set path
path = 'D:/owl-data/Event Stream Data/2020 Season Match Data/'
dir_list = os.listdir(path)

# get folder list
folder_list = []
for f in dir_list:
    if os.path.isdir(path + f):
        folder_list.append(f)
folder_list = folder_list[:-1] # remove 'guids' folder
print(f'folder list: {folder_list}')

df1 = pd.DataFrame()
df2 = pd.DataFrame()
for f in folder_list:
    file_list = os.listdir(path + f)
    file_list = [file for file in file_list if file.endswith('.gz')] # get gz files only
    gamestart_file_name = [g for g in file_list if 'gamestart' in g] # return gamestart file names
    gameresult_file_name = [g for g in file_list if 'gameresult' in g] # return gamestart file names
    print(gamestart_file_name)
    print(gameresult_file_name)

    df_gamestart = pd.read_csv(os.path.join(path, f, gamestart_file_name[0]), delimiter = '\t', compression='gzip')
    df1 = pd.concat([df1, df_gamestart], axis=0, ignore_index=True) # concat data info df
    df_gameresult = pd.read_csv(os.path.join(path, f, gameresult_file_name[0]), delimiter = '\t', compression='gzip')
    df2 = pd.concat([df2, df_gameresult], axis=0, ignore_index=True) # concat data info df
display(df1)
display(df2)

folder list: ['20200622', '20200629', '20200709', '20200720', '20200727', '20200803', '20200810', '20200817', '20200824', '20200907']
['payload_gamestart-20200622.tsv.gz']
['payload_gameresult-20200622.tsv.gz']
['payload_gamestart-20200622-20200628.tsv.gz']
['payload_gameresult-20200622-20200628.tsv.gz']
['payload_gamestart-20200629-20200705.tsv.gz']
['payload_gameresult-20200629-20200705.tsv.gz']
['payload_gamestart-20200713-20200719.tsv.gz']
['payload_gameresult-20200713-20200719.tsv.gz']
['payload_gamestart-20200720-20200726.tsv.gz']
['payload_gameresult-20200720-20200726.tsv.gz']
['payload_gamestart-20200727-20200802.tsv.gz']
['payload_gameresult-20200727-20200802.tsv.gz']
['payload_gamestart-20200803-20200809.tsv.gz']
['payload_gameresult-20200803-20200809.tsv.gz']
['payload_gamestart-20200810-20200816.tsv.gz']
['payload_gameresult-20200810-20200816.tsv.gz']
['payload_gamestart-20200817-20200823.tsv.gz']
['payload_gameresult-20200817-20200823.tsv.gz']
['payload_gamestart-20200831-20200906.tsv.gz']
['payload_gameresult-20200831-20200906.tsv.gz']

,time_c,schema_name,time,info,players,map_guid,esports_match_id
0,2020-06-20 08:19:07,GameStart,1592641147850,"{""event_id"":29,""sequence_length"":1,""sequence_i...","[{""base_player"":{""player_id"":{""src"":0,""seq"":12...",576460752303425122,34622
1,2020-06-20 08:42:45,GameStart,1592642565001,"{""event_id"":27,""sequence_length"":1,""sequence_i...","[{""base_player"":{""player_id"":{""src"":0,""seq"":19...",576460752303425649,34622
2,2020-06-20 09:08:59,GameStart,1592644139326,"{""event_id"":29,""sequence_length"":1,""sequence_i...","[{""base_player"":{""player_id"":{""src"":0,""seq"":19...",576460752303425374,34622
3,2020-06-20 09:37:56,GameStart,1592645876186,"{""event_id"":27,""sequence_length"":1,""sequence_i...","[{""base_player"":{""player_id"":{""src"":0,""seq"":19...",576460752303423963,34622
4,2020-06-20 10:01:20,GameStart,1592647280384,"{""event_id"":30,""sequence_length"":1,""sequence_i...","[{""base_player"":{""player_id"":{""src"":0,""seq"":19...",576460752303425506,34622
...,...,...,...,...,...,...,...
533,2020-09-06 21:56:31,GameStart,1599429391189,"{""event_id"":35,""sequence_length"":1,""sequence_i...","[{""base_player"":{""player_id"":{""src"":0,""seq"":11...",576460752303423963,35549
534,2020-09-06 22:31:57,GameStart,1599431517527,"{""event_id"":27,""sequence_length"":1,""sequence_i...","[{""base_player"":{""player_id"":{""src"":0,""seq"":20...",576460752303425122,35540
535,2020-09-06 22:45:29,GameStart,1599432329621,"{""event_id"":27,""sequence_length"":1,""sequence_i...","[{""base_player"":{""player_id"":{""src"":0,""seq"":20...",576460752303423700,35540
536,2020-09-06 23:16:32,GameStart,1599434192138,"{""event_id"":30,""sequence_length"":1,""sequence_i...","[{""base_player"":{""player_id"":{""src"":0,""seq"":20...",576460752303423963,35540
537,2020-09-06 23:52:18,GameStart,1599436338854,"{""event_id"":31,""sequence_length"":1,""sequence_i...","[{""base_player"":{""player_id"":{""src"":0,""seq"":47...",576460752303425133,35548

,time_c,schema_name,time,info,winningteamid,score_info,players,total_game_time_ms,end_reason,esports_match_id
0,2020-06-20 08:36:16,GameResult,1592642176669,"{""event_id"":2915,""sequence_length"":132,""sequen...",37c4bff4-e644-2541-91e4-b1a7a9914d27,"{""round_num"":3,""attacking_team_id"":""14e7f1ad-b...","[{""base_player"":{""player_id"":{""src"":0,""seq"":12...",1019381,NORMAL,34622
1,2020-06-20 08:57:46,GameResult,1592643466019,"{""event_id"":2460,""sequence_length"":81,""sequenc...",37c4bff4-e644-2541-91e4-b1a7a9914d27,"{""round_num"":2,""attacking_team_id"":""14e7f1ad-b...","[{""base_player"":{""player_id"":{""src"":0,""seq"":19...",896424,NORMAL,34622
2,2020-06-20 09:32:10,GameResult,1592645530534,"{""event_id"":3631,""sequence_length"":111,""sequen...",14e7f1ad-bc68-854c-8479-a9ca15ca03fd,"{""round_num"":4,""attacking_team_id"":""14e7f1ad-b...","[{""base_player"":{""player_id"":{""src"":0,""seq"":19...",1377425,NORMAL,34622
3,2020-06-20 09:56:04,GameResult,1592646964972,"{""event_id"":2845,""sequence_length"":96,""sequenc...",14e7f1ad-bc68-854c-8479-a9ca15ca03fd,"{""round_num"":4,""attacking_team_id"":""14e7f1ad-b...","[{""base_player"":{""player_id"":{""src"":0,""seq"":19...",1075007,NORMAL,34622
4,2020-06-20 10:16:52,GameResult,1592648212022,"{""event_id"":2673,""sequence_length"":144,""sequen...",37c4bff4-e644-2541-91e4-b1a7a9914d27,"{""round_num"":3,""attacking_team_id"":""14e7f1ad-b...","[{""base_player"":{""player_id"":{""src"":0,""seq"":19...",922199,NORMAL,34622
...,...,...,...,...,...,...,...,...,...,...
530,2020-09-06 21:39:23,GameResult,1599428363310,"{""event_id"":2869,""sequence_length"":126,""sequen...",6694da5d-4a8e-9a4e-b679-a056edbb1336,"{""round_num"":2,""attacking_team_id"":""0dce5001-1...","[{""base_player"":{""player_id"":{""src"":0,""seq"":29...",1053034,NORMAL,35549
531,2020-09-06 22:11:15,GameResult,1599430275797,"{""event_id"":2199,""sequence_length"":123,""sequen...",6694da5d-4a8e-9a4e-b679-a056edbb1336,"{""round_num"":4,""attacking_team_id"":""6694da5d-4...","[{""base_player"":{""player_id"":{""src"":0,""seq"":11...",870830,NORMAL,35549
532,2020-09-06 22:38:33,GameResult,1599431913543,"{""event_id"":1145,""sequence_length"":144,""sequen...",49ed2547-4a4b-454e-99da-a6622d1f7ce9,"{""round_num"":2,""attacking_team_id"":""f9168a98-1...","[{""base_player"":{""player_id"":{""src"":0,""seq"":20...",391294,NORMAL,35540
533,2020-09-06 22:59:13,GameResult,1599433153374,"{""event_id"":2160,""sequence_length"":114,""sequen...",49ed2547-4a4b-454e-99da-a6622d1f7ce9,"{""round_num"":2,""attacking_team_id"":""49ed2547-4...","[{""base_player"":{""player_id"":{""src"":0,""seq"":20...",819148,NORMAL,35540
534,2020-09-06 23:34:20,GameResult,1599435260817,"{""event_id"":2679,""sequence_length"":132,""sequen...",49ed2547-4a4b-454e-99da-a6622d1f7ce9,"{""round_num"":4,""attacking_team_id"":""49ed2547-4...","[{""base_player"":{""player_id"":{""src"":0,""seq"":20...",1054901,NORMAL,35540

In [3]:
# add map_guid column in gameresult df
def get_map_guid(str):
    '''
    args, json text from gameresult
    target, map_guid
    '''
    jsontxt = json.loads(str)
    map_guid = jsontxt['game_context']['map_guid']
    
    return map_guid

map_guid_list = []
for idx in df2.index:
    map_guid = get_map_guid(df2.loc[idx, 'info'])
    map_guid_list.append(map_guid)

df2['map_guid'] = map_guid_list
df2 = df2[df2['end_reason'] == 'NORMAL']
display(df2)

,time_c,schema_name,time,info,winningteamid,score_info,players,total_game_time_ms,end_reason,esports_match_id,map_guid
0,2020-06-20 08:36:16,GameResult,1592642176669,"{""event_id"":2915,""sequence_length"":132,""sequen...",37c4bff4-e644-2541-91e4-b1a7a9914d27,"{""round_num"":3,""attacking_team_id"":""14e7f1ad-b...","[{""base_player"":{""player_id"":{""src"":0,""seq"":12...",1019381,NORMAL,34622,576460752303425122
1,2020-06-20 08:57:46,GameResult,1592643466019,"{""event_id"":2460,""sequence_length"":81,""sequenc...",37c4bff4-e644-2541-91e4-b1a7a9914d27,"{""round_num"":2,""attacking_team_id"":""14e7f1ad-b...","[{""base_player"":{""player_id"":{""src"":0,""seq"":19...",896424,NORMAL,34622,576460752303425649
2,2020-06-20 09:32:10,GameResult,1592645530534,"{""event_id"":3631,""sequence_length"":111,""sequen...",14e7f1ad-bc68-854c-8479-a9ca15ca03fd,"{""round_num"":4,""attacking_team_id"":""14e7f1ad-b...","[{""base_player"":{""player_id"":{""src"":0,""seq"":19...",1377425,NORMAL,34622,576460752303425374
3,2020-06-20 09:56:04,GameResult,1592646964972,"{""event_id"":2845,""sequence_length"":96,""sequenc...",14e7f1ad-bc68-854c-8479-a9ca15ca03fd,"{""round_num"":4,""attacking_team_id"":""14e7f1ad-b...","[{""base_player"":{""player_id"":{""src"":0,""seq"":19...",1075007,NORMAL,34622,576460752303423963
4,2020-06-20 10:16:52,GameResult,1592648212022,"{""event_id"":2673,""sequence_length"":144,""sequen...",37c4bff4-e644-2541-91e4-b1a7a9914d27,"{""round_num"":3,""attacking_team_id"":""14e7f1ad-b...","[{""base_player"":{""player_id"":{""src"":0,""seq"":19...",922199,NORMAL,34622,576460752303425506
...,...,...,...,...,...,...,...,...,...,...,...
530,2020-09-06 21:39:23,GameResult,1599428363310,"{""event_id"":2869,""sequence_length"":126,""sequen...",6694da5d-4a8e-9a4e-b679-a056edbb1336,"{""round_num"":2,""attacking_team_id"":""0dce5001-1...","[{""base_player"":{""player_id"":{""src"":0,""seq"":29...",1053034,NORMAL,35549,576460752303423956
531,2020-09-06 22:11:15,GameResult,1599430275797,"{""event_id"":2199,""sequence_length"":123,""sequen...",6694da5d-4a8e-9a4e-b679-a056edbb1336,"{""round_num"":4,""attacking_team_id"":""6694da5d-4...","[{""base_player"":{""player_id"":{""src"":0,""seq"":11...",870830,NORMAL,35549,576460752303423963
532,2020-09-06 22:38:33,GameResult,1599431913543,"{""event_id"":1145,""sequence_length"":144,""sequen...",49ed2547-4a4b-454e-99da-a6622d1f7ce9,"{""round_num"":2,""attacking_team_id"":""f9168a98-1...","[{""base_player"":{""player_id"":{""src"":0,""seq"":20...",391294,NORMAL,35540,576460752303425122
533,2020-09-06 22:59:13,GameResult,1599433153374,"{""event_id"":2160,""sequence_length"":114,""sequen...",49ed2547-4a4b-454e-99da-a6622d1f7ce9,"{""round_num"":2,""attacking_team_id"":""49ed2547-4...","[{""base_player"":{""player_id"":{""src"":0,""seq"":20...",819148,NORMAL,35540,576460752303423700
534,2020-09-06 23:34:20,GameResult,1599435260817,"{""event_id"":2679,""sequence_length"":132,""sequen...",49ed2547-4a4b-454e-99da-a6622d1f7ce9,"{""round_num"":4,""attacking_team_id"":""49ed2547-4...","[{""base_player"":{""player_id"":{""src"":0,""seq"":20...",1054901,NORMAL,35540,576460752303423963

In [4]:
# merge df1(gamestart) and df2(gameresult)
df_merge = pd.merge(df1, df2, how='left', left_on=['map_guid', 'esports_match_id'], right_on=['map_guid', 'esports_match_id'], suffixes=('_gamestart', '_gameresult'))
df_merge = df_merge[['time_gamestart', 'map_guid', 'esports_match_id', 'time_gameresult']]
display(df_merge)

     time_gamestart            map_guid  esports_match_id  time_gameresult
0     1592641147850  576460752303425122             34622     1.592642e+12
1     1592642565001  576460752303425649             34622     1.592643e+12
2     1592644139326  576460752303425374             34622     1.592646e+12
3     1592645876186  576460752303423963             34622     1.592647e+12
4     1592647280384  576460752303425506             34622     1.592648e+12
..              ...                 ...               ...              ...
533   1599429391189  576460752303423963             35549     1.599430e+12
534   1599431517527  576460752303425122             35540     1.599432e+12
535   1599432329621  576460752303423700             35540     1.599433e+12
536   1599434192138  576460752303423963             35540     1.599435e+12
537   1599436338854  576460752303425133             35548              NaN

[538 rows x 4 columns]

In [5]:
# map_guid mapping
map_guid = pd.read_csv((os.path.join('D:\owl-data\guid', 'map_guid.csv')), delimiter=',')
display(map_guid)
df_ = pd.merge(df_merge, map_guid, how='left', left_on='map_guid', right_on='guid')
display(df_)

              en_map_name                guid
0        Temple of Anubis  576460752303423579
1              King's Row  576460752303423700
2                Hanamura  576460752303423845
3   Watchpoint: Gibraltar  576460752303423876
4                 Numbani  576460752303423956
..                    ...                 ...
69                  Paris  576460752303426288
70                 Havana  576460752303426302
71                 Havana  576460752303426389
72            Eichenwalde  576460752303426564
73           Black Forest  576460752303426657

[74 rows x 2 columns]

,time_gamestart,map_guid,esports_match_id,time_gameresult,en_map_name,guid
0,1592641147850,576460752303425122,34622,1.592642e+12,Lijiang Tower,576460752303425122
1,1592642565001,576460752303425649,34622,1.592643e+12,Rialto,576460752303425649
2,1592644139326,576460752303425374,34622,1.592646e+12,Blizzard World,576460752303425374
3,1592645876186,576460752303423963,34622,1.592647e+12,Volskaya Industries,576460752303423963
4,1592647280384,576460752303425506,34622,1.592648e+12,Busan,576460752303425506
...,...,...,...,...,...,...
533,1599429391189,576460752303423963,35549,1.599430e+12,Volskaya Industries,576460752303423963
534,1599431517527,576460752303425122,35540,1.599432e+12,Lijiang Tower,576460752303425122
535,1599432329621,576460752303423700,35540,1.599433e+12,King's Row,576460752303423700
536,1599434192138,576460752303423963,35540,1.599435e+12,Volskaya Industries,576460752303423963
537,1599436338854,576460752303425133,35548,NaN,Ilios,576460752303425133

In [6]:
# save df to pickle
df_ = df_[['time_gamestart', 'time_gameresult', 'esports_match_id', 'en_map_name', 'map_guid']]
display(df_)
df_.to_pickle(os.path.join('D:\owl-data\pickles', 'OWL_map_start_info'))

,time_gamestart,time_gameresult,esports_match_id,en_map_name,map_guid
0,1592641147850,1.592642e+12,34622,Lijiang Tower,576460752303425122
1,1592642565001,1.592643e+12,34622,Rialto,576460752303425649
2,1592644139326,1.592646e+12,34622,Blizzard World,576460752303425374
3,1592645876186,1.592647e+12,34622,Volskaya Industries,576460752303423963
4,1592647280384,1.592648e+12,34622,Busan,576460752303425506
...,...,...,...,...,...
533,1599429391189,1.599430e+12,35549,Volskaya Industries,576460752303423963
534,1599431517527,1.599432e+12,35540,Lijiang Tower,576460752303425122
535,1599432329621,1.599433e+12,35540,King's Row,576460752303423700
536,1599434192138,1.599435e+12,35540,Volskaya Industries,576460752303423963
537,1599436338854,NaN,35548,Ilios,576460752303425133

In [7]:
# read pickle
test = pd.read_pickle(os.path.join('D:\owl-data\pickles', 'OWL_map_start_info'))
display(test)

,time_gamestart,time_gameresult,esports_match_id,en_map_name,map_guid
0,1592641147850,1.592642e+12,34622,Lijiang Tower,576460752303425122
1,1592642565001,1.592643e+12,34622,Rialto,576460752303425649
2,1592644139326,1.592646e+12,34622,Blizzard World,576460752303425374
3,1592645876186,1.592647e+12,34622,Volskaya Industries,576460752303423963
4,1592647280384,1.592648e+12,34622,Busan,576460752303425506
...,...,...,...,...,...
533,1599429391189,1.599430e+12,35549,Volskaya Industries,576460752303423963
534,1599431517527,1.599432e+12,35540,Lijiang Tower,576460752303425122
535,1599432329621,1.599433e+12,35540,King's Row,576460752303423700
536,1599434192138,1.599435e+12,35540,Volskaya Industries,576460752303423963
537,1599436338854,NaN,35548,Ilios,576460752303425133